<div class="footer-container">
  <footer *ngIf="loggedIn" class="footer">

    <div class="footer-top row">
      <div class="address col-lg-8 col-sm-12">
        123 Some Address, Atlanta, GA 30076
      </div>
      <div class="phone col-lg-2 col-sm-6">
        <div class="phone-num">404.603.7145</div>
      </div>
      <div class="contact col-lg-2 col-sm-6">
        <div class="">Contact</div>
      </div>
    </div>

    <div class="footer-middle row">

    </div>

    <div class="footer-bottom row">
      <div class="copy-right col-lg-4 col-sm-12">
        <small>Copyright ©1969 Goodboy, Inc. All rights reserved.</small>
      </div>
      <div class="social-media col-lg-4 col-sm-12">
        <a><i class="fab fa-facebook-f facebook"></i></a>
        <a><i class="fab fa-twitter twitter"></i></a>
        <a><i class="fab fa-youtube youtube"></i></a>
        <a><i class="fab fa-linkedin-in linkedIn"></i></a>
      </div>

      <div class="support col-lg-4 col-sm-12">
        <div class="col-12">
          <h4 class="support-txt col-4 float-right">Support</h4>
          <h4 class="support-txt col-4 float-right">Sitemap</h4>
          <h4 class="support-txt col-4 float-right">Privacy Policy</h4>
        </div>
      </div>
    </div>
  </footer>
</div>

