<div class="split-left left">
  <div class="centered">
    <div class="header col-lg-12">
      <div class="good-boy">
        <h3 class="icon-txt"><a id="logo"><img class="logo" src="../assets/images/goodboy-dog.png"></a>Good Boy</h3>
      </div>
    </div>
    <div class="body col-lg-12">
      <div class="inputs-container">
        <input class="input" type="text" placeholder="Username" name="username">
        <input class="input" type="password" placeholder="Password" name="password">
      </div>
      <div class="checkbox">
        <label class="chk-txt"><input type="checkbox">  Remember me</label>
      </div>

      <div class="login-container">
        <button class="login-btn" (click)="loginToggle()" routerLink="/pets">Login</button>
        <h4 class="footer-txt col-5 float-left">Register</h4>
        <h4 class="footer-txt">Forgot your password?</h4>
      </div>
    </div>
  </div>
</div>

<div class="split-right right" id="right">
</div>
