<div class="split-left left">
  <div class="centered">
    <div class="header col-lg-12">
      <div class="good-boy">
        <h3 class="icon-txt"><a id="logo"><img class="logo" src="../assets/images/goodboy-dog.png"></a>Good Boy</h3>
      </div>
    </div>
    <div class="body col-lg-12">
      <div class="inputs-container">
        <input class="input" type="text" placeholder="Username" name="username">
        <input class="input" type="password" placeholder="Password" name="password">
      </div>
      <div class="checkbox">
        <label class="chk-txt"><input type="checkbox">  Remember me</label>
      </div>

      <div class="login-container">
        <button class="login-btn" (click)="loginToggle()" routerLink="/pets">Login</button>
        <h4 class="footer-txt col-5 float-left">Register</h4>
        <h4 class="footer-txt">Forgot your password?</h4>
      </div>
    </div>
  </div>
</div>

<div class="split-right right" id="right">
  <!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/Q6aRJgQ9s6Q?rel=0&modestbranding=1&autoplay=1&cc_load_policy=1&mute=1&controls=0&showinfo=0&loop=10&fs=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
</div>
