a.active {
  color: #f1be77 !important;
}

.container {
  width: 100%;
}

#full-bar {
  background-color: #31708fcc;
}
.navbar {
  background: none !important;
}

.navbar-nav {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-bottom: 0;
  list-style: none;
  float: right;
}

.text-primary:hover {
  color: #f1be77 !important;
}


.icon-container {
  width:100%;
}

.icon-txt {
  color: white;
  font-size: 42px;
}

.list-container{
  margin: 0 auto;
}

.good-boy {
  width: 100%;
}

.navbar-toggler {
  cursor:pointer;
  outline:0;
  border:1px solid #ffffff5c;
  margin-top: 18px;
}

.nav-link {
  text-transform:uppercase;
  font-weight:bold;
}

.text-primary {
  color: #eceeef!important;
}
.nav-item {
  padding: 0 1rem;
}

@media screen and (max-width: 430px){
  .icon-txt {
    color: white;
    margin: 0 auto;
    width: fit-content;
  }
}

@media(max-width: 34em) {
  .nav-item {
    padding: 8px;
  }
}

@media(max-width: 34em) {
  .nav-link {
  font-weight:normal;
  color:#fff !important;
  }
}

.user-icon-container {
  float: right;
  color: white;
}

