<div class="container">
  <div class="account-body row">
    <div class="search-container col-lg-4">
      <div class="search-bar">
        <label>Search</label>
        <input type="text" placeholder="What are you looking for?">
      </div>
      <div class="zip">
        <label>Street, City, State or Zip</label>
        <input type="text" id="zipCode" name="zipCode" [(ngModel)]="zipCode">
      </div>
      <button class="search-btn" type="button" (click)="search()">Search</button>
    </div>
    <div class="map-container col-lg-8">
      <agm-map  [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng">
          <agm-info-window>{{zipCode}}</agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
  <div *ngIf="isLoaded" class="data row">
    <!--<div *ngFor="let item of mapData[0]">{{i}}</div>-->
    <div>{{mapData[0]}}</div>
  </div>


</div>
